body{
    background-image: url("../img/background-dark.jpg");
}

.calculator{
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8em 1fr;
    width: 22%;
    height: 20em;
    position: absolute;
    top: 15%;
    left: 40%;
    border-radius: 0.5em;
    box-shadow: 0 0 1.5em rgb(190, 168, 43);
    /* background-color: gray; */
}

.screen{
    display: grid;
    grid-template-rows: 3em 5em;
    /* border-radius: 6em; */
}

.screen input{
    text-align: end;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    /* border-radius: 0.3em; */
}

.buttons input{
    border-radius: 0.6em;
}

.key{
    margin: 0.3em;
}
